.field {
    border: 40px solid darkgreen;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    position: relative;
    left: 515px;
    transition: transform 1s ease-out 0.3s;
}

.field:hover .ball {
    transform: translate(750px, -255px);
}

.bat {
    transition: transform 0.2s;
}

.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.stump {
    margin-left: 55%;
    margin-bottom: -50px;
    width: 100px;
    height: 200px;
    transition: transform 0.2s ease 0.9s;
}


.field:hover .stump {
    transform: rotate(45deg);
}
.footer{
    margin-top: 0;
    background-color: white;
}
.footer h2{
    text-align: center;
}